  body {
    font-family: Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #1abc9c; /* White */
    color: #555555;
}
.bg-6 {
  background-color: #474e5d; /* Green */
  color: #ffffff;

}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
}

.breadcrumb {
  display: inline-block;
  color: black;
  max-width: 830px;
}

.margin {
  color: white;
}

.about {
  font-size: 24px;
}

.margin {
  font-size: 40px;
}
p {
    font-size: 24px;
    max-width: 830px;
    margin: auto;
}

.link {
  border-right: : 1px solid black;
}


.links {
  border-style: 1px solid black;
}
